/* inPlayer Administration Styles */

.inplayer-hide {
    display: none;
}

table.form-table p {
    font-size: 0.8em;
}

input.error-border {
    border-color: red;
}

#toplevel_page_inplayer li.wp-first-item {
    display: none;
}

.postbox h2 {
    margin: 0;
    padding: 8px 16px;
}

.page-body-content {
    float: left;
    min-width: 463px;
    width: 100%;
}

#postbox-container {
    float: right;
    width: 280px;
}

.inplayer-form select {
    min-width: 270px;
}

#asset-description,
#asset-image,
#package-description {
    width: 100%;
}

.wp-admin select {
    min-width: 140px;
}

#inplayer_shortcode_option {
    float: right;
}

#inplayer_shortcode_options #TB_ajaxContent {
    margin: 0 auto;
}

#inplayer_transactions_panels {
    margin-top: 20px;
    overflow: hidden;
}
#inplayer_transactions_panels .postbox-container {
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}
#inplayer_transactions_panels .postbox {
    min-height: 200px;
}

.inplayer-helper[data-tooltip] {
    position: relative;
    cursor: help;
}
/* Tooltip styling */
.inplayer-helper[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #fff;
    color: #227c9c;
    padding: 10px 14px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 120px;
    text-align: left;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #227c9c;
}
/* Dynamic horizontal centering */
.inplayer-helper[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.inplayer-helper[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 8px;
}
/* Show the tooltip when hovering */
.inplayer-helper[data-tooltip]:hover:before,
.inplayer-helper[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
.inplayer-helper span {
    color: #227c9c;
}

.inplayer-transactions-list {
    margin-top: 50px;
}

.inplayer-h1 {
    line-height: 54px !important;
    font-size: 28px !important;
}
.inplayer-h1 img {
    float: left;
    margin-right: 20px;
}

.inplayer-60,
.inplayer-40 {
    float: left;
}
.inplayer-60 {
    max-width: 60%;
}
.inplayer-40 {
    max-width: 40%;
}
.inplayer-40 img {
    padding-top: 20px;
}

.inplayer-settings .form-table > tbody > tr > th {
    display: none;
}

.toplevel_page_inplayer-home .wp-first-item {
    display: none;
}

.inplayer-ok {
    float: right;
    margin-top: 4px;
    margin-left: 5px;
    color: green;
    border: 1px solid green;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

#inplayer-platform-login .form-table td,
#inplayer-register-account .form-table td {
    padding: 4px 10px !important;
}

@font-face{
    font-family: 'icoplayer';
    src:url('../fonts/icoplayer.eot?hwhv8u');
    src:url('../fonts/icoplayer.eot?hwhv8u#iefix') format('embedded-opentype'),
    url('../fonts/icoplayer.woff?hwhv8u') format('woff'),
    url('../fonts/icoplayer.ttf?hwhv8u') format('truetype'),
    url('../fonts/icoplayer.svg?hwhv8u#icoplayer') format('svg');
    font-weight: normal;font-style: normal;
}
#toplevel_page_inplayer .dashicons-before,
#toplevel_page_inplayer .dashicons-before:before,
#toplevel_page_inplayer-home .dashicons-before,
#toplevel_page_inplayer-home .dashicons-before:before,
#toplevel_page_inplayer-login.dashicons-before,
#toplevel_page_inplayer-login .dashicons-before:before,
.mce-i-inplayer,
.mce-i-inplayer:before {
    font-family: 'icoplayer';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#toplevel_page_inplayer .dashicons-before:before,
#toplevel_page_inplayer-home .dashicons-before:before,
#toplevel_page_inplayer-login .dashicons-before:before,
.mce-i-inplayer:before {
    content: "\e900";
}
.mce-i-inplayer:before {
    font-size: 20px;
}

.inplayer-spinner {
    float: none;
}

.ip-edit-spinner {
    float: left;
    margin-right: -20px;
    margin-left: 0;
}

/* Hide the default WordPress post status update and permalink box under the title */
.post-type-inplayer_asset #message,
.post-type-inplayer_asset #titlediv .inside {
    display: none !important;
}

.inplayer-asset-title-list {
    margin-top: 20px;
}
.inplayer-asset-title-list li {
    cursor: pointer;
    width: auto;
}

.post-type-inplayer_asset #TB_window,
.inplayerTB {
    height: auto !important;
    width: auto !important;
    overflow: hidden;
}

/* Transactions table adjustments */
.inplayer-paywall_page_inplayer-transactions th:nth-child(5),
.inplayer-paywall_page_inplayer-transactions th:nth-child(6),
.inplayer-paywall_page_inplayer-transactions th:nth-child(7),
.inplayer-paywall_page_inplayer-transactions td:nth-child(5),
.inplayer-paywall_page_inplayer-transactions td:nth-child(6),
.inplayer-paywall_page_inplayer-transactions td:nth-child(7) {
    text-align: right;
}

#inplayer-3 input {
    max-width: 80px;
}
#inplayer-3 .spinner {
    margin: 0;
}

#inplayer_asset_editor #post-body.columns-2 #postbox-container-1 .inside {
    padding: 10px;
}
#inplayer_asset_editor #titlediv {
    margin-bottom: 15px;
}

.asset-type-wrap {
    overflow: hidden;
    padding: 70px 0 55px;
}
.asset-type-box {
    width: 36%;
    min-width: 380px;
    margin-right: 7%;
    margin-left: 7%;
    float: left;
    text-align: center;

}
.asset-link {
    border: 1px solid rgba(213,219,225,1);
    border-radius: 3px;
    display: block;
    padding: 60px 0;
    text-decoration: none;
}

.inplayer-package-box {
    width: 18%;
    margin: 1%;
    float: left;
    min-height: 240px;
    padding: 20px;
    border: 1px solid rgba(213,219,225,1);
    box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}
.inplayer-package-box a {
    display: block;
    line-height: 2em;
}

#inplayer-package-assets {
    overflow: hidden;
}
#ip-available-assets,
#ip-package-assets {
    width: 40%;
    margin: 0 5%;
    float: left;
    display: inline-block;
}
.ip-ul-draggable,
.ip-ul-sortable {
    height: 250px;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 5px 0 0 0;
    float: left;
    width: 100%;
    min-height: 200px;
    border: 1px solid rgba(213,219,225,1);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ip-ul-draggable li,
.ip-ul-sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
}